@model Group
@{
    Layout = "MyLayout";
}

<div class="chat-container">
    <div class="chatbox">
        <div class="top-bar">
            <div class="avatar">
                <p>V</p>
            </div>
            <div class="chat-name">Va</div>
            <div class="icons">
                <i class="fas fa-phone"></i>
                <i class="fas fa-video"></i>
            </div>
            <div class="menu">
                <div class="dots"></div>
            </div>
        </div>
        <div class="middle">
            <div class="text-messages">

                <div class="bubble">
                    <p>Heyxcvb,..</p>
                </div>
                <div class="bubble">
                    <p>Oh, oops .</p>
                </div>

                <div class="bubble">
                    <p class="sent">Na.dxdfcgnvnbnm</p>
                </div>
                <div class="bubble">
                    <p class="sent">Well Oh wait! ...</p>
                </div>


                <!--<div class="typing">
                    <div class="bubble">
                        <div class="ellipsis one"></div>
                        <div class="ellipsis two"></div>
                        <div class="ellipsis three"></div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="bottom-bar">
            <div class="chat">
                <input type="text" class="chat-input" placeholder="Type a message..."/>
                <button type="submit" class="chat-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="messages">
        <div class="profile">
            <div class="avatar">
                <p>H</p>
            </div>
            <div class="name2">
                Ha
                <p class="email">H@test.com</p>
            </div>
        </div>
        <div class="chat-people">
            <div class="person focus">
                <span class="title">V</span>
                <span class="time">2:50pm</span><br>
                <span class="preview">What ...</span>
            </div>
            <div class="person">
                <span class="title">R</span>
                <span class="time">2:25pm</span><br>
                <span class="preview">Meet ...</span>
            </div>
            <div class="person">
                <span class="title">He</span>
                <span class="time">2:12pm</span><br>
                <span class="preview">Have ...</span>
            </div>
            <div class="person focus">
                <span class="title">V</span>
                <span class="time">2:50pm</span><br>
                <span class="preview">What ...</span>
            </div>
            <div class="person">
                <span class="title">R</span>
                <span class="time">2:25pm</span><br>
                <span class="preview">Meet ...</span>
            </div>
            <div class="person">
                <span class="title">He</span>
                <span class="time">2:12pm</span><br>
                <span class="preview">Have ...</span>
            </div>
            <div class="person">
                <span class="title">He</span>
                <span class="time">2:12pm</span><br>
                <span class="preview">Have ...</span>
            </div>
        </div>
    </div>
</div>

