@using Microsoft.EntityFrameworkCore.Metadata.Internal
<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
<div>
    <p> An error has occured : @ViewBag.Error</p>
</div>
</body>
</html>