@model Comment 

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Edit Comment";
}

<div class="edit-comment-container">
    <h1 class="title-cont"> Edit a comment</h1>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Comment", method: FormMethod.Post))
    {
        <div class="title-comm">
        @Html.Label("Content", "Content")
       
        @Html.EditorFor(c => c.Content)
     
        @Html.ValidationMessageFor(c => c.Content, null)
        </div>
        <button type="submit" class="edit-comm-btn">Edit Comment</button>
    }
</div>