@import url('https://fonts.google.com/share?selection.family=Merriweather:ital@1%7CPlayfair%20Display:ital@1');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

body {
    display: flex;
    min-height: 100vh;
    background: radial-gradient(#462d57, #0d0d0d);
}

::-webkit-scrollbar {
    display: none;
}