
.new-post {
    color:  var(--all-text-color);;
    margin-left: 40%;
}

.edit-post {
    color:  var(--all-text-color);;
    margin-left: 40%;
}

.show-post {
    color:  var(--all-text-color);;
    margin-left: 40%;
}