.profile-container-edit{
    margin: auto auto;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0 3vh 20px;
    background:  #996678;
    box-shadow: inset 20px 20px 20px #9f6f80,
    11px 2px 15px #9f6f80,
    4px -4px 30px #9f6f80,
    inset -20px -18px 25px #342636;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    line-height: 5rem;
    border-radius: 10px 200px 10px 200px;
}
.title-cont{
    font-family: "Lucida Calligraphy";
    font-size: 2rem;
    font-weight: 500;
}
.gen{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.about .about-text{
    font-family: "Lucida Calligraphy";
}
.about .text{
    font-family: "Lucida Calligraphy"!important;
    width: 30vh;
    height: 20vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.optiuni{
   background: transparent;
    border-radius: 10px 200px 10px 200px;
    position: relative;
    overflow: hidden;
    font-size: 0.6em;
    width: 10%!important;
    height: 10%!important;
}
.editare-btn{
    font-family: "Lucida Calligraphy";
    width: 15vh;
    height: 5vh;
    background: #996678;
    box-shadow: inset 10px 10px 10px #79525f,
    15px 25px 10px rgba(138, 89, 118, 0.1),
    15px 20px 20px rgba(151, 95, 147, 0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 10px 300px 10px 300px;
    margin-bottom:0;
}
