.profile-container {
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 3vh 20px;
    border-radius: 50px;
    background: var(--btn-bg);
    backdrop-filter: blur(10px);
    box-shadow: var(--post-box-shadow);
    overflow-x: hidden;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: auto;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.user-dp {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
}

.info-container {
    min-width: 5vw;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    width: -webkit-fill-available;
}

.info-container .username {
    width: auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--all-text-color);;
}

.info-container .gender {
    font-size: 0.9rem;
    width: auto;
}

.info-container .aboutme {
    font-size: 0.9rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.info-container .website-link {
    width: auto;
    font-size: 0.9rem;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: rgba(255, 72, 0, 0.479);
    font-weight: 500;
}

.number-card {
    height: 2%;
    font-size: 1.2rem;
    line-height: 0.01rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--all-text-color);;
}

.number-card p {
    display: flex;
    flex-direction: column;
}

.number-card span {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;

}

.btn-container {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.btn-container .btn {
    width: 20vh;
    height: 5vh;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: var(--profile-box-shadow);
    background: var(--btn-bg);
    backdrop-filter: blur(10px);
    border-radius: var(--default-border-r);
    margin: 0 0 15px;
    color: var(--all-text-color);;

}

.btn-container .status-f {
    width: 25vh;
    height: 5vh;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: var(--profile-box-shadow);
    background: var(--btn-bg);
    backdrop-filter: blur(10px);
    border-radius: var(--default-border-r);
    margin: 0 0 15px;
    color: var(--all-text-color);;
}

.status-f p {
    color: var(--all-text-color);;
    text-decoration: none;
    position: relative;
    text-align: center;
    top: 10px;
    margin: auto auto;
}

.btn a {
    text-decoration: none;
    color: var(--all-text-color);;
}