@model GroupsView 

@{
    Layout = "MyLayout";
}
<section class="groups">
    <div>
    <form method="get" asp-route="new_group" class="link-to-new-group">
        <button class="new-group-btn">
            Create a new group
        </button>
    </form>
    </div>
    <div class="groups-container">
        <div class="chat-groups">
            @foreach (var group in Model.Groups)
            {
                @Html.Partial("GroupPartial", group)
            }
        </div>

    </div>

</section>
