@using MicroSocialPlatform.Data
@using Microsoft.AspNetCore.Identity;
@model Group 
@inject UserManager<AppUser> UserManager;

@{
    Layout = "MyLayout";
    // Get the current user's id.
    string myId = UserManager.GetUserId(User);
    // Get the membership of the current user to the group, if it exists.
    GroupMembership? myMembership = Model.Memberships.FirstOrDefault(m => m.UserId == myId);
}

<div class="chat-container">
    <div class="chatbox">
        <div class="top-bar">
            <div class="avatar">
                <p></p>
            </div>
            <div class="chat-name">@Model.Name</div>
            <div class="icons">
                <i class="fas fa-phone"></i>
                <i class="fas fa-video"></i>
            </div>
            <div class="menu">
                <div class="dots"></div>
            </div>
        </div>
        <div class="middle">
            <div class="text-messages">

                <div class="bubble">
                    <p>Heyxcvb,..</p>
                </div>
                <div class="bubble">
                    <p>Oh, oops .</p>
                </div>

                <div class="bubble">
                    <p class="sent">Na.dxdfcgnvnbnm</p>
                </div>
                <div class="bubble">
                    <p class="sent">Well Oh wait! ...</p>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="chat">
                <input type="text" class="chat-input" placeholder="Type a message..."/>
                <button type="submit" class="chat-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="description">
            <p> Group description : @Model.Description </p>
        </div>
        <div class="chat-people">
            @foreach (var membership in Model.Memberships)
            {
                @Html.Partial("PersonPartial", membership);
            }

        </div>
    </div>
    <div class="edit-group hid">
        <form method="get" asp-route="edit_group" asp-route-id="@Model.Id" style="display: contents;">
            <button type="submit" class="edit-group-button">
                <ion-icon name="create-outline"></ion-icon>
                Edit
            </button>
        </form>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
      $(".person").on('click', function(){
      $(this).toggleClass('focus').siblings().removeClass('focus');
      })
    
     const delete_buttons = document.querySelector('.edit-group')
     const action_divs = document.querySelector('.menu')
             $(document).ready(function() {
                 action_divs.addEventListener("click",function() {
                        
                       if(delete_buttons.classList.contains('hid')){
                           delete_buttons.classList.remove('hid');
                           delete_buttons.classList.add('active');
                       }
                       else{
                           delete_buttons.classList.remove('active');
                           delete_buttons.classList.add('hid');
                       }
                     })
           
             });
</script>