@model HomeView;
@{
    Layout = "MyLayout";
}
<section class="main">
    <div class="post-container">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("PostPartial", post)
        }
    </div>
</section>
<script>
        const slideout = document.querySelector('.cbut')
        const handle = document.querySelector('.comments')

        slideout.onclick = function() {
            if(handle.classList.contains('hid')){
                handle.classList.remove('hid');
                handle.classList.add('active');
            }
            else{
                handle.classList.remove('active');
                handle.classList.add('hid');
            }
        }
</script>