@model HomeView;
@{
    Layout = "MyLayout";
}
<section class="main">
    <button class="new-post-btn"><a asp-route="new_post">Create a new post</a></button>
    <div class="post-container">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("PostPartial", post)
        }
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
     const comments_buttons = document.querySelectorAll('.cbut')
        const comments_divs = document.querySelectorAll('.comments')
        $(document).ready(function() {
            $.each(comments_buttons, function(ind, butt) {
            butt.addEventListener("click",function() {
                   
                  if(comments_divs[ind].classList.contains('hid')){
                      comments_divs[ind].classList.remove('hid');
                      comments_divs[ind].classList.add('active');
                  }
                  else{
                      comments_divs[ind].classList.remove('active');
                      comments_divs[ind].classList.add('hid');
                  }
                })
          })
        });
</script>