@model HomeView;
@{
    Layout = "MyLayout";
    ViewData["Title"] = "Home Page";
}
<section class="main">
    <form method="get" asp-route="new_post" class="link-to-new-post">
        <button class="new-post-btn">
            Create a new post
        </button>
    </form>
    <div class="post-container">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("PostPartial", post)
        }
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
     const comments_buttons = document.querySelectorAll('.cbut')
     const comments_divs = document.querySelectorAll('.comments')
        $(document).ready(function() {
            $.each(comments_buttons, function(ind, butt) {
            butt.addEventListener("click",function() {
                   
                  if(comments_divs[ind].classList.contains('hid')){
                      comments_divs[ind].classList.remove('hid');
                      comments_divs[ind].classList.add('active');
                  }
                  else{
                      comments_divs[ind].classList.remove('active');
                      comments_divs[ind].classList.add('hid');
                  }
                })
          })
        });
     const delete_buttons = document.querySelectorAll('.set-divs')
     const action_divs = document.querySelectorAll('.settings-post-btn')
             $(document).ready(function() {
                 $.each(action_divs, function(ind, butt) {
                 butt.addEventListener("click",function() {
                        
                       if(delete_buttons[ind].classList.contains('hid')){
                           delete_buttons[ind].classList.remove('hid');
                           delete_buttons[ind].classList.add('active');
                       }
                       else{
                           delete_buttons[ind].classList.remove('active');
                           delete_buttons[ind].classList.add('hid');
                       }
                     })
               })
             });
</script>