@page
@model RegisterModel

<head>
    <link rel="stylesheet" type="text/css" href="/css/RegisterIndex.css">
</head>
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="drop">
        <div class="content">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Register</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputBox">
                    <input asp-for="Input.Username" placeholder="Username" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="inputBox">
                    <input asp-for="Input.Email" placeholder="Email"  autocomplete="email" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="inputBox">
                    <input asp-for="Input.Password" placeholder="Password"  autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="inputBox">
                    <input asp-for="Input.ConfirmPassword" placeholder="ConfirmPassword" autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div id="buttonColor" class="inputBox">
                    <input id="registerSubmit" type="submit" value = "Register">
                </div>
                <a class="btns home" asp-page="./Home">Home</a>
                <a class="btns" asp-page="./Login">Already have an account?</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
