@model PeopleView 
@{
    Layout = "MyLayout";
}

@Html.Partial("SearchBar", new SearchModel("/people"));
<div class="people">
    @foreach (var user in Model.Users)
    {
        @Html.Partial("PeoplePartial",user)
    }

</div>
