@model PeopleView 
@{
    Layout = "MyLayout";
    ViewData["Title"] = "Users";
}

@Html.Partial("SearchBar", new SearchModel("/people"))
<div class="people">
    @if (Model.Users.Count != 0)
    {
        @foreach (var user in Model.Users)
        {
            @Html.Partial("PeoplePartial", user)
        }
    }
    else
    {
        <p class="nofriends">Nu exista persoane</p>
    }
</div>